{% extends "base.html" %}

{% block content %}
<form action="" method="post">
    <h5>Предоставить доступ к файлу:</h5>
    <ul>
        {%for user in users%}
        {%if user.id|string() in can_use %}

        <li>
            <input checked class="form-check-input" type="checkbox" value="{{user.id}}" name="users_to_share" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">{{user.name}}</label>
        </li>
        {%else%}
        <li>
            <input class="form-check-input" type="checkbox" value="{{user.id}}" name="users_to_share" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">{{user.name}}</label>
        </li>
        {%endif%}
        {%endfor%}
    </ul>
    <button type="submit" value="submit" class="btn btn-primary">Изменить</button>
</form>
{% endblock %}