{% extends "base.html" %}

{% block content %}
<form method="POST" action="/admin/privileges_edit">
    <input type="hidden" name="action" value="add">
    <input type="text" name="privilege">
    <button>add</button>
</form>
<ul class="list-group list-group-flush">
    {%for privilege in privileges%}
        <li class="list-group-item">
            <h5>{{privilege.privilege}}
                {% if privilege.privilege != "root" %}
                <form method="POST" action="/admin/privileges_edit">
                    <input type="hidden" name="action" value="del">
                    <input type="hidden" name="privilege" value="{{privilege.privilege}}">
                    <button>remove</button>
                </form>
                {% endif %}
            </h5>
        </li>
    {%endfor%}
</ul>
{% endblock %}